.pagination.component {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    user-select: none;

    $btnSize: 2rem;
    $btnGap: 0.5rem;

    .page-of-total {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;
        user-select: none;
    }

    .page-buttons {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: relative;

        .page-button {
            width: $btnSize;
            height: $btnSize;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--color-shadow, redoutline);
            border-radius: 0.25rem;
            cursor: pointer;

            &.active {
                background-color: var(--color-primary, #586888);
                color: var(--color-primary-fg, #c8d8f8;
                border-color: var(--color-primary, #586888);
                font-weight: 600;
            }
        }

        .page-sep {
            display: inline-flex;
            width: $btnSize;
            height: $btnSize;
            &::before {
                content: '...';
                margin: auto;
            }
        }

        &:has(.page-input) :is(.page-button, .page-sep) {
            visibility: hidden;
        }

        .page-input {
            width: 100%;
            height: $btnSize;
            text-align: center;
            border: 1px solid var(--color-shadow, redoutline);
            border-radius: 0.25rem;
            position: absolute;
            inset: 0;
        }
    }
}