#icon-selector {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--color-shadow, redsurface);
	color: var(--color-neutral, red);
	border: 1px solid var(--color-shadow, redoutline);
	border-radius: 0.5rem;
	padding: 1rem;
	box-shadow: 0 0 50px hsl(from currentColor h s l / 0.5);
	z-index: 100000;
	max-width: calc(100vw - 2rem);
	max-height: calc(100vh - 2rem);
	overflow: hidden;

	h3 {
		font-size: 1.2rem;
		margin-bottom: 0.75rem;
	}

	#select-icon-body {
		display: flex;
		gap: 0.5rem;

		#mode-options {
			display: flex;
			flex-direction: column;
			gap: 12px;

			.active {
				color: var(--color-primary, #586888);
			}
		}
	}

	.icon-mode {
		display: flex;
		flex-direction: column;

		.mode-label {
			font-weight: 600;
			margin-bottom: 8px;
		}
	}

	#source-code-mode {
		position: relative;

		.code-icon-preview {
			box-shadow: 0 0 10px hsl(from currentColor h s l / 0.5);
			position: absolute;
			top: 0px;
			right: 0px;
		}
	}

	.actions {
		display: flex;
		justify-content: flex-end;
		gap: 0.35rem;
		margin-top: 1rem;
	}
}