.icon-component {
  --grad: calc(var(--weight-factor, 0) * 225 - 25);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; 
  width: var(--size);
  height: var(--size);

  .material-symbols {
    // 1. Force the font-size to fill the total size minus whatever padding is passed inline
    font-size: calc(var(--size) - (var(--padding-offset, 0px) * 2)); 
    
    line-height: 1;
    display: inline-grid;
    place-items: center;
    
    font-variation-settings: 'FILL' var(--fill, 0),
                             'wght' var(--weight, 400),
                             'GRAD' var(--grad, 0),
                             'opsz' var(--opsz, 24);
  }
}
