.pill {
	--bg-color: var(--color--neutral, #f0f0f0);

	font-size: 0.6875rem;
	font-weight: 500;

	background-color: var(--bg-color);
	color: contrast-color(var(--bg-color));
	border-radius: 100vw;
	padding: 0 0.5rem;
	display: inline-block;
	user-select: none;
}